<div class="container-fluid">
  <div class="row header">
    <div class="col-10 text-left">
      <button mat-icon-button type="button" (click)="onToggleMenu()">
        <mat-icon>menu</mat-icon>
      </button>
      <p class="navbar-brand">{{categoryName}}</p>
      <p class="link navbar-brand" (click)="onToggleStatistics()" *ngIf="canShowStatistics && !isMobile">Hide statistics</p>
      <p class="link navbar-brand" (click)="onToggleStatistics()" *ngIf="!canShowStatistics && !isMobile">Show statistics</p>
    </div>
    <div class="col-2 text-right">
      <button mat-icon-button class="header-icon" (click)="showSettings()">
        <mat-icon>settings</mat-icon>
      </button>
      <button *ngIf="!isMobile" mat-icon-button class="header-icon" (click)="showIntroHelp()">
        <mat-icon>help</mat-icon>
      </button>
    </div>
  </div>
</div>
