<mat-dialog-content>
  <p mat-dialog-title>{{dialogTitle}}</p>
  <mat-form-field>
    <mat-label>Name (required)</mat-label>
    <input #inputTitle matInput [(ngModel)]="tmpTitle" (keydown.enter)="onConfirm()">
    <button *ngIf="tmpTitle.trim().length > 0" mat-button matSuffix mat-icon-button aria-label="Clear"
            (click)="tmpTitle=''" class="clear-button">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Choose category</mat-label>
    <mat-select [(ngModel)]="tmpCategory">
      <mat-option [value]="null">Without category</mat-option>
      <mat-option *ngFor="let category of categories" [value]="category">
        {{category.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Choose priority</mat-label>
    <mat-select [(ngModel)]="tmpPriority">
      <mat-option *ngFor="let priority of priorities" [value]="priority">
        {{priority.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput placeholder="Choose date" #inputDate readonly="true" [matDatepicker]="picker" [(ngModel)]="tmpDate"
           (click)="picker.open()">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <button
      *ngIf="inputDate.value.trim().length > 0"
      mat-button matSuffix mat-icon-button aria-label="Clear"
      (click)="tmpDate = null" class="clear-button">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="col-md-5 col-12">
    <button mat-raised-button color="primary" (click)="onConfirm()" [disabled]="inputTitle.value.trim().length == 0">
      Save
    </button>
    <button mat-raised-button color="accent" (click)="onCancel()">Cancel</button>
  </div>
  <div class="col-md-7 col-12 text-right">
    <button mat-raised-button class="green" (click)="activateTask()" *ngIf="task.completed">Activate</button>
    <button mat-raised-button class="green" (click)="completeTask()" *ngIf="!task.completed">Complete</button>
    <button mat-raised-button color="warn" (click)="onDelete()">Delete</button>
  </div>
</mat-dialog-actions>
