<mat-dialog-content>
  <h1 mat-dialog-title class="text-center">
    {{dialogTitle}}
  </h1>
  <div mat-dialog-content class="text-center">
    <p>{{message}}</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="col-md-6 col-12 text-center">
    <button mat-raised-button color="warn" (click)="onConfirm()">Ok</button>
  </div>
  <div class="col-md-6 col-12 text-center">
    <button mat-raised-button color="accent" (click)="onCancel()">Cancel</button>
  </div>
</mat-dialog-actions>

