<ng-sidebar-container style="height: 100vh">
  <ng-sidebar
    [opened]="menuOpened"
    [closeOnClickOutside]="false"
    [closeOnClickBackdrop]="true"
    [showBackdrop]="showBackdrop"
    [mode]="menuMode"
    [animate]="true"
    [position]="menuPosition"
    [autoFocus]="false"
    (onClosed)="onClosedMenu()">
    <div class="sidebar"
         data-color="purple"
         data-step="1"
         data-intro="Фильтрация задач, добавление/удаление/редактирование категорий"
         data-position='right'>
      <app-categories
        (selectCategory)="onSelectCategory($event)"
        (deleteCategory)="onDeleteCategory($event)"
        (updateCategory)="onUpdateCategory($event)"
        (addCategory)="onAddCategory($event)"
        (searchCategory)="onSearchCategoryByTitle($event)"

        [selectedCategory]="selectedCategory"
        [categories]="categories"
        [uncompletedTotal]="uncompletedTotalTasksCount">
      </app-categories>
    </div>
  </ng-sidebar>
  <div ng-sidebar-content>
    <div class="main-panel">
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <!--        <app-header-->
        <!--          (toggleStatistics)="toggleStatistics($event)"-->
        <!--          (helpIntro)="onHelpIntro($event)"-->
        <!--          [categoryName]="selectedCategory ? selectedCategory.title : 'Все'"-->
        <!--          [canShowStatistics]="canShowStatistics"-->
        <!--          (toggleMenu)="toggleMenu()">-->
        <!--        </app-header>-->
      </nav>
      <div class="content">
        <div class="container-fluid">
          <div data-step="2"
               data-intro="Статистика по задачам"
               data-position='top'>
            <!--            <app-statistics-->
            <!--              [totalTasksInCategory]="totalTasksCountInCategory"-->
            <!--              [completedTasksInCategory]="completedTasksCountInCategory"-->
            <!--              [uncompletedTasksInCategory]="uncompletedTasksCountInCategory"-->
            <!--              [canShowStatistics]="canShowStatistics">-->
            <!--            </app-statistics>-->
          </div>
          <div class="row">
            <div class="col-12"
                 data-step="3"
                 data-intro="Список всех задач"
                 data-position='top'>
              <app-tasks
                (addTask)="onAddTask($event)"
                (updateTask)="onUpdateTask($event)"
                (deleteTask)="onDeleteTask($event)"
                (selectCategory)="onSelectCategory($event)"
                (paging)="paging($event)"
                (searchAction)="searchTasks($event)"
                (toggleSearch)="toggleSearch($event)"

                [showSearch]="showSearch"
                [totalTasksFounded]="totalTasksFounded"
                [searchParams]="searchParams"
                [selectedCategory]="selectedCategory"
                [tasks]="tasks"
                [priorities]="priorities"
                [categories]="categories">
              </app-tasks>
            </div>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </div>
</ng-sidebar-container>
