.completed {
  text-decoration: line-through;
  color: #de7e1d;
}

.novalue {
  text-decoration: line-through;
  color: #6f6a6e;
  font-weight: bold;
}

table {
  width: 100%;
}

table th, tr {
  text-align: center;
}

.title-align {
  text-align: left;
}

.id-style {
  font-weight: bold;
}
