.completed {
  text-decoration: line-through;
  color: #de7e1d;
}

.novalue {
  color: #6f6a6e;
  font-weight: bold;
}

.col-color {
  width: 3% !important;
}

.col-id {
  width: 3%;
  text-align: center;
}

.col-title {
  width: 55%;
}

.col-date {
  width: 10% !important;
}

.col-priority {
  width: 10%;
}

.col-category {
  width: 10%;
}

.col-operation {
  width: 6%;
}

.col-select {
  width: 3%;
}

table {
  width: 100%;
}

.delete-icon {
  cursor: pointer;
  color: #ea6561;
  font-size: 18px;
  margin-right: 3px;
  margin-left: 3px;
}

.edit-icon {
  cursor: pointer;
  color: #9a9a9a;
  font-size: 18px;
  margin-right: 3px;
  margin-left: 3px;
}

.mat-header-cell {
  font-size: 1.2rem;
  color: #000000;
  font-weight: bold;
}

.clear-button {
  font-size: 25px !important;
}
