.completed {
  text-decoration: line-through;
  color: #de7e1d;
}

.novalue {
  color: #6f6a6e;
  font-weight: bold;
}

.col-color {
  width: 3% !important;
}

.col-id {
  width: 3%;
  text-align: center;
}

.col-title {
  width: 50%;
}

.col-date {
  width: 15% !important;
}

.col-priority {
  width: 10%;
}

.col-category {
  width: 10%;
}

table {
  width: 100%;
}

.pointer {
  cursor: pointer;
}
