@import "assets/css/material-dashboard.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~bootstrap-css-only/css/bootstrap.min.css";

.not-found {
  margin: 0;
  padding: 15px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: #aaa79c;
}

.mat-form-field {
  width: 100%;
}

.mat-dialog-content {
  padding: 40px !important;
}
