.pointer {
  cursor: pointer;
}

.line {
  border-bottom: 1px solid #dadada;
  padding-top: 20px;
}

.main-category-title {
  font-size: 16px;
  font-weight: 500;
}

.category-title {
  display: inline-block;
  font-size: 16px;
  width: 80%;
}

.edit-category-icon-area {
  width: 16%;
  display: inline-block;
  font-size: 13px;
}

.edit-category-icon {
  color: #dadada;
  margin-bottom: 5px;
}

.category-height {
  height: 50px;
}
