<div *ngIf="canShowStatistics">
  <div class="row">
    <app-stat-card
      class="col-lg-3 col-md-6 col-sm-6"
      title="Completed task"
      iconName="done"
      [count1]="completedTasksInCategory"
      [completed]="true">
    </app-stat-card>
    <app-stat-card
      class="col-lg-3 col-md-6 col-sm-6"
      title="Uncompleted task"
      iconName="not_interested"
      [count1]="uncompletedTasksInCategory">
    </app-stat-card>
    <app-stat-card
      class="col-lg-3 col-md-6 col-sm-6"
      title="All tasks"
      iconName="work"
      [count1]="totalTasksInCategory">
    </app-stat-card>
    <app-stat-card
      class="col-lg-3 col-md-6 col-sm-6"
      title="Percent completed tasks"
      [iconName]="((completedTasksInCategory/totalTasksInCategory) * 100) > 50 ? 'mood' : 'mood_bad'"
      [count1]="completedTasksInCategory ? (completedTasksInCategory/totalTasksInCategory | percent) : '0 %'">
    </app-stat-card>
  </div>
</div>
